/target
/.m2


/.classpath
/.project
/.settings

/caches
/local.properties
.*.swp
.DS_Store
DockerFile
config/server.xml
src/main/liberty/config/server.env
src/main/resources/localdev-config.json

.idea
*.iml
*.ipr
